/* Estilos para todo o documento */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para o cabeçalho */
header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Estilos para o conteúdo principal */
main {
    padding: 20px;
}

/* Estilos para imagens */
img {
    max-width: 100%;
    height: auto;
}
